.Comment-Card {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    flex: 0 0 55em;
    border: 2px solid ;
    border-color: #f2f2f2;
}

.Comment-Author {
    Height: 0px;
}

.Comment-Height {
    Height: 0px;
}
