.Single-Article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    background: #f2f2f2;
    flex: 0 0 55em;
}

.Article-Author {
    Height: 0px;
}
